.infoPanel {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 4rem 2rem;
  background-color: #010101;
  color: white;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 0 auto;
  
}

.item {
  flex: 1 1 250px;
  text-align: center;
  border-right: 2px solid #facc1546;
  padding: 0 1rem;
  
  
}

.item:last-child {
  border-right: none;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #FACC15;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

a {
  color: #FACC15;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}



@media (max-width: 768px) {
  .infoPanel {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 2rem; /* más espacio entre ítems */
  }

  .item {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: auto; 
    
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .item:last-child {
    border-bottom: none;
  }

  .icon {
    font-size: 2.5rem; /* un poco más grande en mobile */
    margin-bottom: 0.75rem;
  }
}