html, body {
  overflow-x: hidden;
scroll-behavior: smooth;
}




body  {
  font-family: 'Manrope', sans-serif;
  background-color: #010101;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
   box-sizing: border-box;
}
